In [ ]:
#Menampilkan Drive
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import association_rules, apriori

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/Python TIA/ml-1m/TV Shows - Association Rule Learning - TV Shows - Association Rule Learning.csv')

In [ ]:
df

,Cobra Kai,Lupin,12 Monkeys,Sherlock,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,Lost,Jack Ryan,The Flash,Game of thrones,House of Cards,12 Monkeys,Vikings,Fringe,The Mentalist,The Alienist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sex Education,Dr. House,Kingdom,The Walking Dead,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ozark,Sex Education,Constantine,Preacher,Vikings,The Tick,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Naruto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sex Education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9684,One Piece,The Blacklist,Two and a half men,Lupin,Dark,How I met your mother,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9685,One Piece,Mr. Robot,Succession,Ozark,12 Monkeys,Vikings,The Vampire Diaries,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9686,Daredevil,Atypical,Heros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9687,Absentia,The Newsroom,The Alienist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9688,Atypical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print(df.columns)

Index(['Cobra Kai', 'Lupin', '12 Monkeys', 'Sherlock', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [ ]:
df = df.drop(['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
              'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
              'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
              'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
              'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
              'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'], axis=1)

In [ ]:
df_encoded = pd.get_dummies(df)

In [ ]:
frequent_itemsets = apriori(df_encoded, min_support=0.003, use_colnames=True)

In [ ]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.2)
rules = rules[rules['lift'] >= 3]

In [ ]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Lupin_The Blacklist),(Cobra Kai_Cobra Kai),0.035917,0.046238,0.011766,0.327586,7.084783,0.010105,1.418415
1,(Cobra Kai_Cobra Kai),(Lupin_The Blacklist),0.046238,0.035917,0.011766,0.254464,7.084783,0.010105,1.293141
2,(12 Monkeys_Demon Slayer),(Cobra Kai_Cobra Kai),0.015172,0.046238,0.003200,0.210884,4.560845,0.002498,1.208647
3,(Lupin_Arrow),(Cobra Kai_Daredevil),0.006605,0.083703,0.004438,0.671875,8.026877,0.003885,2.792524
5,(Lupin_Lost),(Cobra Kai_Daredevil),0.011766,0.083703,0.003096,0.263158,3.143942,0.002111,1.243546
...,...,...,...,...,...,...,...,...,...
69,"(Sherlock_Sex Education, 12 Monkeys_Ozark)",(Lupin_Mr. Robot),0.017236,0.039013,0.005057,0.293413,7.520847,0.004385,1.360040
70,"(Sherlock_Sex Education, Lupin_Mr. Robot)",(12 Monkeys_Ozark),0.006089,0.041903,0.005057,0.830508,19.819696,0.004802,5.652771
71,"(12 Monkeys_Ozark, Lupin_Mr. Robot)",(Sherlock_Sex Education),0.012488,0.031995,0.005057,0.404959,12.656918,0.004658,1.626786
72,"(12 Monkeys_Sex Education, Sherlock_Atypical)",(Lupin_Ozark),0.007534,0.055527,0.003303,0.438356,7.894485,0.002884,1.681623
73,"(Sherlock_Atypical, Lupin_Ozark)",(12 Monkeys_Sex Education),0.004851,0.051502,0.003303,0.680851,13.219972,0.003053,2.971961